<!--Navbar-->
<nav class="navbar navbar-light" style="padding:0px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <div class="container-fluid">
      <a class="navbar-brand">
          <i class="fa fa-twitter mb-3" aria-hidden="true" 
          style="font-size:3.5rem;"></i>
      </a>
      <form class="d-flex">
          <a href="/users/logout" style="color:red;font-size:1.6rem;">Logout</a>
      </form>
    </div>
  </nav>