<!--Navbar-->
<nav class="navbar navbar-light" style="width:100%;">
    <div class="container-fluid">
      <a class="navbar-brand">
          <i class="fa fa-twitter mb-3" aria-hidden="true" 
          style="font-size:3.5rem;"></i>
      </a>
      <form class="d-flex">
          <a href="/users/logout" style="color:red;font-size:1.6rem;">Logout</a>
      </form>
    </div>
  </nav>