<%- include('partials/header'); -%>


<Navbar>
  <%- include('partials/navbar'); -%>
</Navbar>

<!--Main Container-->
<div class="container-fluid my-5 d-flex " id="feed-main-box">
  <!--Left Post Section-->
  <div class="left-section">
    <!--Top Post Section -->
    
    <div class="top-post-section">
      <input id="text-post" class="form-control" type="text" value="" name="textPost"
        placeholder="Write Something here?">
      <button id="upload_widget" class="cloudinary-button btn btn-primary my-3" style="width:100%;">Upload
        files</button>
        <h5 style="text-align:center;color:gray;">powered via cloudinary</h5>
      <button id="submit-btn" class="btn-danger btn my-3" style="width:100%;">Post</button>
    </div>
    <!--User Id Save -->
    <h2 id="user-id" style="display:none;"><%= user._id %></h2>
    <!--Feed Box -->
   
    <!--Feed Container -->
   
    <div class="feed-container">
    </div>
  </div>
  <!--Right Section -->
  <div class="right-container">
    <h2 style="text-align:center;">Follow Others:</h2>
  <div class="right-section d-flex flex-direction-column align-items-center">
      <h2 class="right-title text-align-center">Follow Other Users</h2>
  </div>
  </div>
</div>

<!--Custom JavaScript-->
<!--Cloudinary Image Uploda Widget-->
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src='/js/cloudinary.js'></script>
<script src="/js/posts.js"></script>
<script src="/js/like.js"></script>
<script src="/js/follow.js"></script>
<script type="text/javascript">
  const userId = document.getElementById("user-id").innerHTML;
</script>

</body>

</html>