#feed-main-box{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding:10px;
  justify-content:space-between;
}
  .left-section {
  /*  border: 2px solid red; */
    width: 60%;
    margin-right: 5%;
    padding: 10px;
    
  }
  .top-post-section{
    padding:10px;
    /*border:1px solid black; */
    margin-bottom:40px;
    width:72%;
    display:block;
    margin:10px auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
  ;
  }
  .left-section input {
    padding: 15px !important;
    height: 60px !important;
    border-radius:40px;
  }

  /* feed Card design */
  .feed-container {
    display:flex;
    flex-direction:column;
    padding: 14px;
    /*border-right:4px dotted black; */
   align-items: center;
  }

  .feed-card {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 40px 10px;
    min-height: 60px;
    padding:5px 0px 0px;
    
  }
  .feed-card i{
    font-size:1.2rem;
  }

  .feed-card-img {
    margin-top:30px;
    width: 100%;
    max-height: 300px;
  }

  .feed-text {
    margin-top:30px;
    text-align: center;
    color: #1B9CFC;
    font-size: 2rem;
  }

  .bottom-section {
    padding: 0px;
    width: 100%;
    margin-top: 40px;

  }

  .like-btn {
    margin-top: 12%;
    font-size: 1.6rem;
    color: white;
    padding: 0px;
    width: 50px;
    height:40px;
    border: none;
}

/* Right User Section */
.right-container{
 width:25%;
  padding: 10px;
  min-height:100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.right-section{
  display:flex;
  flex-direction:column;
 width: 100%;
}
.user-card{
  width:80%;
  padding:10px;
  margin-top:30px;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}
.user-card img{
  width:100%;
  border-radius: 100%;
}
.user-card h2{
  text-align: center;
}
.user-card i{
  font-size:1.3rem;
  color:white;
  margin-left:10px;
}
